/*What is important to know when linking an external file (like a stylesheet) to an HTML file?

It's important to know which directory the file (like a stylesheet) is in, so you link to it properly.

What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?

I found that if I drew a border around the element I was trying to position, it made it easier for me to visualize how it was
currently being positioned on the page and how I should proceed. This was a HUGE help.

What CSS did you use to modify the element style (like size, color, etc.)

We used color, font-style, font-size, font-weight, background-color and text-align.

Did you modify the HTML to include classes or ids? If so, which did you choose and why? 
If you didn't, how would you know which one to add to your HTML?

Oh god yes. We used oodles of CSS, as I thought was the point of this challenge? We used mostly ids, as there were several
one-time adjustments that needed to be made. We started with classes, but found that with the cascading priorities that CSS
has, the classes were being over-ruled by inline CSS. There are probably great methods for refactoring the code into Classes
but I'll save that for next challenge! This one proved to be a whopper.

When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?

The original site has fairly clean code, but its very basic and outdated. I believe our code follows best-practices better
because it utilizes the more modern CSS to accomplish the same look. It would be much easier to update the site using our
code than it would be to go through and adjust what they have. Also, our code ought to be compatible on more devices.

*/

* {
  color:#000080;
  background-color: white;
 }
a:link {
  color:#800080;
}
a:visited {
    color: #FF0000;
}
/*Left column of links, float as inline block, 40% width of window, with space to the left to push it inward*/
#left-column{
  margin-left:50px;
  float:left;
    display:inline-block;
    width:40%;
}
/*right column of links float on the right side, 40% size of window, with space to the right to push it inwards*/
#right-column{
  margin-right:50px;
  float:right;
    display:inline-block;
    width:40%;
}
/*give space below each list item to format it closer to original site*/
li{
  margin-bottom:40px;
}
/*make each list item update smaller and position it just below the item it refers to*/
li p{
  font-size:10px;
  margin-top:5px;
  margin-bottom:-20px;
}
/*make sure the footer goes below the two floating blocks*/
footer{
  clear:both;
}
/*center the header with text size 20px*/
header {
  margin:auto;
  font-weight: bold;
  font-size: 20px; 
  text-align: center;
}
/*Make the two big letters big, and display them as inline blocks so they don't default to the next line*/
header div {
  font-size: 35px;
  display:inline-block;
  }
/*Formats the small "inc" in the main header line*/
 header span {
    font-size:14px;
    margin-top:-30px;
    display:inline-block;
  }
    /*sloppy but effective line breaks*/
  #line-break{
    margin:auto;
    width:100%;
    border:1px solid gray;
  }
   /*Formats the text in the two lines below the top heading*/
  #heading-line-2{
    margin:0px;
    padding:0px;
    font-size:15px;
    display:block;
  }
  /*Formats the final line of heading text*/
   #heading-line-4{
    margin-bottom:5px;
    padding:0px;
    font-size:20px;
    font-weight:800;
    display:block;
  }

  /*centers the footer text*/
  footer {
     text-align: center;
  }


  /*formats text about the WEB page itself*/
  footer span{
    font-size:13px;
    margin-top:15px;
    margin-bottom:15px;
    display:block;
    text-align:left;
  }
  /*formats bold portion of copyright*/
  footer span span{
    font-weight:bold;
    display:inline-block;
  }

  /*centers the geico img*/
footer nav{
  display:inline-block;
  margin:15px 0px 0px -5px;
}
/*formats geico ad text*/
  #geico-ad{
    font-size:10px;
    margin:0px;   
  }

  /*aligns bottom text to left*/
  #final-text{
    text-align:left;
    position:inline-block;
    margin-top:15px

  }

